<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            background-color: antiquewhite;
        }
    </style>
</head>

<body>
    <!-- Default form login -->
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <form class="text-center border border-light p-5" action="addTopic" method="POST">

                <p class="h4 mb-4">Add New Topic</p>
                <div class="form-group">
                    <label for="topic">Topic</label>
                    <input id="topic" name="topic" placeholder="Add topic Name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input id="description" name="keyword" placeholder="Add Description" class="form-control">
                </div>

                <button class="btn btn-info btn-block my-4" type="submit">Add New Topic</button>

            </form>
            <!-- Default form login -->
        </div>
    </div>
</body>

</html>